<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.chenjianlink.android.alarmclock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AlarmClockRingActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="cn.chenjianlink.android.alarmclock.ring" />

        <service
            android:name=".service.AlarmClockService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.AlarmClockReceiver"
            android:enabled="true"
            android:exported="false"
            tools:ignore="ExportedReceiver" />

        <activity
            android:name=".activity.AlarmClockManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>